{% extends 'base.html' %}

{% block meta %} 
	<h1>Головна сторінка — єРозум</h1>
        <meta name="description" content="єРозум">
	
{% endblock %}

{% block title %}<title>Онлайн підготовка до ЗНО та НМТ 2023 
індивідуально з репетитором у зручному форматі</title>
<style type="text/css">
        * { box-sizing: border-box;}
        main { 
          margin-top: 4vh;
          margin-bottom: 4vh;
          margin-left: 4vw;
          margin-right: 4vw;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(30vw, 30vw));
          grid-gap: 1vw;
          }
        .main { 
          display: flex;
          flex-flow: column;
          background: #00993a;
          /*padding: 0.25vw;*/
          width: 30vw;
          height: 30vw;
          border-radius: 3vw;
          background: rgba( 255, 255, 255, 0.25 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 42, 0.37 );
          backdrop-filter: blur( 3px );
          -webkit-backdrop-filter: blur( 3px );
          border: 1px solid rgba( 255, 255, 255, 1 );
         }
      </style>{% endblock %}

{% block body %} 
<body>
        <main>
          <div class="main"><div class="notepad"><br><br><br>є-Розум<br>tile</div></div></div>
          <div class="main"><div class="notepad"><br><br><br>є-Розум<br>tile</div></div></div>
          <div class="main"><div class="notepad"><br><br><br>є-Розум<br>tile</div></div></div>
          <div class="main"><div class="notepad"><br><br><br>є-Розум<br>tile</div></div></div>
          <div class="main"><div class="notepad"><br><br><br>є-Розум<br>tile</div></div></div>
          <div class="main"><div class="notepad"><br><br><br>є-Розум<br>tile</div></div></div>
          <div class="main"><div class="notepad"><br><br><br>є-Розум<br>tile</div></div></div>
          <div class="main"><div class="notepad"><br><br><br>є-Розум<br>tile</div></div></div>
          <div class="main"><div class="notepad"><br><br><br>є-Розум<br>tile</div></div></div>
        </main>
</body>
{% endblock %}
